[editor]

EditXStore = ctrl-g
EditXPaste = ctrl-v
EditXCut = ctrl-x

EditDeleteLine = ctrl-y
EditDeleteToLineEnd = ctrl-k
EditDeleteToLineBegin =

EditLeft = left
EditRight = right
EditUp = up
EditDown = down
EditEnter = enter
EditBackSpace = backspace
EditDelete = delete
EditPageUp = pgup
EditPageDown = pgdn
EditWordLeft = ctrl-left
EditWordRight = ctrl-right
EditHome = home
EditEnd = end
EditTab = tab
EditUndo = alt-backspace
EditBeginningOfText = ctrl-shift-pgup
EditEndOfText = ctrl-shift-pgdn
EditScrollUp = ctrl-up
EditScrollDown = ctrl-down
EditReturn = shift-enter
EditBeginPage =
EditEndPage =
EditDeleteWordLeft = alt-f
EditDeleteWordRight = alt-d
EditParagraphUp =
EditParagraphDown =
EditSave = f2
EditLoad =
EditNew =
EditSaveas = f12
EditMark = f3
EditCopy = f5
EditMove = f6
EditRemove = f8
EditUnmark =
EditFind = f7

EditPageUpHighlight = shift-pgup
EditPageDownHighlight = shift-pgdn
EditLeftHighlight = shift-left
EditRightHighlight = shift-right
EditWordLeftHighlight = ctrl-shift-left
EditWordRightHighlight = ctrl-shift-right
EditUpHighlight = shift-up
EditDownHighlight = shift-down
EditHomeHighlight = shift-home
EditEndHighlight = shift-end
EditBeginningOfTextHighlight = ctrl-shift-home
EditEndOfTextHighlight  = ctrl-shift-end
EditBeginPageHighlight  = ctrl-shift-pgup
EditEndPageHighlight = ctrl-shift-pgdn
EditScrollUpHighlight =
EditScrollDownHighlight =
EditParagraphUpHighlight =
EditParagraphDownHighlight =

EditSaveBlock = ctrl-f
EditColumnMark = f13
EditFindAgain = f17
EditReplace = f4
EditReplaceAgain = f14
EditCompleteWord = alt-tab
EditDebugStart =
EditDebugStop =
EditDebugToggleBreak =
EditDebugClear =
EditDebugNext =
EditDebugStep =
EditDebugBackTrace =
EditDebugContinue =
EditDebugEnterCommand =
EditDebugUntilCurser =
EditInsertFile = f15
EditExit = f10
EditToggleInsert = ins
EditHelp = f1
EditDate =
EditRefresh = ctrl-l
EditGoto = alt-l
EditManPage =
EditSort = alt-t
EditMail =
EditCancel =
EditComplete =

EditParagraphFormat = alt-p
EditUtil =
EditTypeLoadPython =
EditFindFile =
EditCtags =
EditMatchBracket = alt-b
EditTerminal =
EditTerminalApp =
EditExtCmd = alt-u
EditUserMenu = f11
EditSaveDesktop =
EditNewWindow =
EditCycle =
EditMenu = f9
EditSaveAndQuit =
EditRunAnother =
EditCheckSaveAndQuit =
EditMaximize =
EditDeleteMacro =
EditToggleBookmark = alt-k
EditFlushBookmarks = alt-o
EditNextBookmark = alt-j
EditPrevBookmark = alt-i

EditSelectionHistory =
EditShell = ctrl-o
EditInsertLiteral = ctrl-q
EditExecuteMacro = ctrl-a
EditBeginorEndMacro = ctrl-r
EditBeginRecordMacro =
EditEndRecordMacro =
EditToggleLineState = alt-n


[viewer:hex]
HexViewToggleNavigationMode = tab
ViewMoveToBol = ctrl-a; home
ViewMoveToEol = ctrl-e; end
ViewMoveLeft = b; left
ViewMoveRight = f; right
ViewMoveUp = k; y; up
ViewMoveDown = j; delete; down

[viewer]
ViewSearch = ?; /; f7
ViewContinueSearch = ctrl-r; ctrl-s; f17
ViewMoveToBol = home
ViewMoveToEol = end
ViewMoveLeft = h; left
ViewMoveRight = l; right
ViewMoveUp = k; y; insert; up
ViewMoveDown = j; e; delete; down
ViewMovePgDn = f; space; pgdn
ViewMovePgUp = b; pgup
ViewMoveHalfPgDn = d
ViewMoveHalfPgUp = u
ViewGotoBookmark = m
ViewNewBookmark = r
ViewNextFile = ctrl-f
ViewPrevFile = ctrl-b
ViewQuit = q; esc
SelectCodepage = ctrl-t
ShowCommandLine = ctrl-o
ViewToggleRuler = alt-r

[main]
CmdMenuLastSelected = f19
CmdQuietQuit = f20
CmdSingleDirsize = ctrl-@
CmdCopyCurrentPathname = alt-a
CmdCopyOtherPathname = alt-A
CmdQuickCd = alt-c
CmdQuickChdir = ctrl-\\
CmdSuspend = ctrl-z
CmdFilteredView = alt-!
CmdFind = alt-?
CmdReread = ctrl-r
CmdToggleListing = alt-t
CmdSwapPanel = ctrl-u
ShowCommandLine = ctrl-o

ExtMap1 = ctrl-x
[main:xmap]


[panel]
PanelStartSearch = ctrl-s
PanelMarkFile = ins
PanelMoveDown = down
PanelMoveUp = up
PanelMoveLeft = left
PanelMoveRight = right
PanelPrevPage = pgup
PanelNextPage = pgdn
PanelDoEnter = enter
PanelChdirOtherPanel = alt-o
PanelChdirToReadlink = alt-l
PanelViewSimple = shift-F3
PanelEditNew = F14
PanelCopyLocal = F15
PanelRenameLocal = F16
PanelDeleteLocal = F18
PanelReverseSelection = alt-*
PanelSelect = plus
PanelUnselect = minus
PanelCtrlNextPage = ctrl-pgdn
PanelCtrlPrevPage = ctrl-pgup
PanelDirectoryHistoryList = alt-h
PanelDirectoryHistoryNext = alt-u
PanelDirectoryHistoryPrev = alt-y
PanelGotoBottomFile = alt-j
PanelGotoMiddleFile = alt-r
PanelSyncOtherPanel = alt-i
PanelGotoTopFile = alt-g
PanelSetPanelEncoding = ctrl-t

[panel:xmap]

[widget]
WidgetBol = ctrl-a; alt-<; home
WidgetEol = ctrl-e; alt->; end
WidgetMoveLeft = alt-left
WidgetWordLeft = ctrl-left
WidgetBackwardChar = ctrl-b
WidgetBackwardWord = alt-b
WidgetMoveRight = alt-right
WidgetWordRight = ctrl-right
WidgetForwardChar = ctrl-f
WidgetForwardWord = alt-f

WidgetBackwardDelete = backspace
WidgetDeleteChar = delete
WidgetKillWord = alt-d
WidgetBackwardKillWord = alt-backspace
WidgetSetMark = 
WidgetKillRegion = ctrl-w
WidgetKillSave = alt-w
WidgetYank = ctrl-y
WidgetKillLine = ctrl-k
WidgetHistoryPrev = alt-p; ctrl-down
WidgetHistoryNext = alt-n; ctrl-up
WidgetHistoryShow = alt-h
WidgetComplete = alt-tab
