*.o
*.a
**.po
*.lo
*.la
*~
*.cache
*.tar.gz
misc/ext.d/doc.sh
misc/ext.d/misc.sh
misc/ext.d/text.sh
misc/ext.d/web.sh
misc/mc.charsets
misc/mc.menu
misc/mcedit.menu
misc/syntax/Syntax
src/man2hlp/man2hlp
src/vfs/extfs/helpers/uc1541
src/vfs/extfs/helpers/ulib
tests/src/editor/test-data.txt
tests/src/vfs/extfs/helpers-list/data/config.sh
ABOUT-NLS
Make.common
Makefile
Makefile.in
aclocal.m4
config
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.mc
gettext.m4
intl
install-sh
m4
mc.qpg
mc.spec
missing
mkinstalldirs
pkginfo
prototype
stamp-h
stamp-h?
stamp-h.in
tmpout
debug
Doxyfile
mc.kdevelop
version.h
TAGS
doc/devel/
doc/html/
.deps
libtool
make.log
make.clang
make.gcc
make.tcc
