*.o
*.a
*~
*.cache
*.tar.gz
ABOUT-NLS
COPYING
Make.common
Makefile
Makefile.in
aclocal.m4
config
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.mc
gettext.m4
intl
install-sh
m4
mc.qpg
mc.spec
missing
mkinstalldirs
pkginfo
prototype
stamp-h
stamp-h?
stamp-h.in
tmpout
debug
Doxyfile
mc.kdevelop
