*.o
*.a
*.lo
*.la
*~
*.cache
*.tar.gz
ABOUT-NLS
Make.common
Makefile
Makefile.in
aclocal.m4
config
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.mc
gettext.m4
install-sh
m4
mc.qpg
mc.spec
missing
mkinstalldirs
pkginfo
prototype
stamp-h
stamp-h?
stamp-h.in
tmpout
debug
Doxyfile
mc.kdevelop
version.h
TAGS
doc/devel/
doc/html/
.deps
libtool
make.log
make.clang
make.gcc
make.tcc
tests/src/editor/test-data.txt
tests/src/vfs/extfs/helpers-list/data/config.sh
mc-version.h
