[Desktop Entry]
Name=Mime Types
Name[fi]=MIME-tyypit
Name[it]=Tipi MIME
Name[no]=Mime typer
Comment=Configure how files are associated and started.
Comment[fi]=Aseta tiedostoassosiaatiot ja avaajat.
Comment[it]=Configura i tipi di files e le applicazioni usate per aprirli
Comment[no]=Konfigurer hvordan filer er assosiert og startet.
Exec=mime-type-capplet
Terminal=0
Type=Application
