[Desktop Entry]
Name=Mime Types
Name[de]=Mime-Typen
Name[es]=Tipos MIME
Name[fi]=MIME-tyypit
Name[fr]=Types MIME
Name[it]=Tipi MIME
Name[ja]=Mime¥¿¥¤¥×
Name[ko]=MIME Å¸ÀÔ
Name[no]=Mime typer
Name[pl]=Typy MIME
Name[pt]=Tipos Mime
Name[sv]=Mime-typer
Name[wa]=Sôrtes MIME
Comment=Configure how files are associated and started
Comment[de]=Einrichten, wie Dateien verknüpft und geöffnet werden
Comment[es]=Configura los tipos de archivos y los programas asociados para manejarlos
Comment[fi]=Aseta tiedostoassosiaatiot ja avaajat
Comment[fr]=Configure les types de fichier et les programmes y associés
Comment[it]=Configura i tipi di files e le applicazioni usate per aprirli
Comment[ja]=¥Õ¥¡¥¤¥ë¤ÎÂ°À­¤Ë¤Ä¤¤¤Æ¤ÎÀßÄê 
Comment[ko]=¾î¶² ÇÁ·Î±×·¥°ú ÆÄÀÏÀ» ¿¬°áÇÏ°í ¾î¶»°Ô ÆÄÀÏÀ» ¿©´ÂÁö ¼³Á¤ÇÕ´Ï´Ù
Comment[no]=Konfigurer hvordan filer er assosiert og startet
Comment[pl]=Konfiguracja skojarzeñ typów plików
Comment[pt]=Configura os tipos de ficheiros e os programas a eles associados
Comment[sv]=Konfigurera hur filer är associerade och startade
Comment[wa]=Apontyî les sôrtes di fitchî èt les programes po les drovî
Exec=mime-type-capplet
Terminal=0
Type=Application
