#! /bin/sh
# *** External Spell Checker for Cooledit.
# arguments:
#	$1 - edit file name  
#       $2 - highlight block file name
#	$3 - error file name

if aspell </dev/null >/dev/null 2>&1; then
  aspell -c "$2" 2>"$3"
else
  ispell "$2" 2>"$3"
fi
