[Desktop Entry]
Name=Spreadsheet
Name[es]=Hoja de cálculo
Name[fr]=Tableur
Comment=Create a new spreadsheet
Comment[es]=Crea una nueva hoja de cálculo
Comment[fr]=Crée une nouvelle feuille de calcul
TryExec=gnumeric
Exec=gnumeric
Icon=gnome-gnumeric.png
Terminal=0
Type=Application
