[Desktop Entry]
Name=Image
Name[ca]=Imatge
Name[de]=Grafik
Name[es]=Imagen
Name[fi]=Kuva
Name[fr]=Image
Name[ja]=²èÁü
Name[no]=Bilde
Name[pl]=Obraz
Name[wa]=Imådje
Comment=Create a new Image
Comment[ca]=Crear una nova imatge
Comment[de]=Eine neue Grafik erzeugen
Comment[es]=Crear una imagen
Comment[fi]=Luo uusi kuva
Comment[fr]=Créer une image
Comment[ja]=¿·µ¬²èÁü¤ÎºîÀ®
Comment[no]=Lag et nytt bilde
Comment[pl]=Tworzy nowy obraz
Comment[wa]=Fé ene novele imådje
TryExec=gimp
Exec=gimp
Icon=gnome-gimp.png
Terminal=0
Type=Application
