name: Process closed issues

on:
  issues:
    types: [ closed ]
  workflow_dispatch:
    inputs:
      issue_number:
        description: Issue number
        required: true
        type: number

jobs:
  remove-labels-on-close:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      issues: write

    steps:
      - run: |
          ISSUE=${{ inputs.issue_number != '' && inputs.issue_number || github.event.issue.number }}

          gh issue edit $ISSUE --remove-label "state: in review,state: approved"

          if [ "${{ github.event.issue.state_reason }}" = "not_planned" ]; then
            gh issue edit $ISSUE --remove-milestone
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
